
@{
    ViewBag.Title = "Operation Success";
    Layout = "~/Areas/SecondarySchool/Views/Shared/_NewLayoutSecondarySchool.cshtml";
}
 
<h2>Create</h2>

<div style="background-color: #DADADA;">
    <div class="row" style="padding:5px;">
        <section>
            <p>Item created, Updated Or Deleted successfully.</p>
        </section>
    </div>
</div>
