
@{
    ViewBag.Title = "Operation Success";
    Layout = "~/Areas/CollegeAndPostGraduate/Views/Shared/_NewLayoutCollegeAndPostGraduate.cshtml";
}
 
<h2>Create</h2>

<section>
    <p>Item created, Updated Or Deleted successfully.</p>
</section>

