
@{
    ViewBag.Title = "PaymentMade";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div style="text-align: center;">
    <div class="centralProduct">
        <div class="row" style="background-color: #DADADA; margin-right: 0px; margin-left: 0px; text-align: left;">
            <h2>Payment Made</h2>
            <section>
                <p>
                    Your payment has been made. This will show on your account statement, as a payment to Paypal, which will be validated.
                </p>
                <p>
                    Once payment is validated an email will be sent to you confirming the services you've ordered. You will then be given instructions by email as to how the services will be deployed.
                </p>
                <p>Many thanks from MartinLayooInc Team</p>

                <p>Kind regards</p>

                <p>C.E.O</p>
            </section>
        </div>
    </div>
</div>
