@using System.Web.Mvc.Html
<div style="height:auto !important;">
    <p>
        <h4>Teaching Calendar</h4>
    </p>
    <p>
        <div id="calendar" style="background-color:Highlight;color:orangered !important;margin:0px;padding:5px;width:100%;height:auto !important;">

        </div>
    </p>
</div>