
@{
    ViewBag.Title = "Paid Documents";
    Layout = "~/Areas/StatePrimary/Views/Shared/_NewLayoutStatePrimary.cshtml";
}
<div class="form-horizontal">
    <h2>Paid Documents</h2>
    <div style="background-color: #DADADA;">
        <div class="row" style="padding:5px;">
        </div>
    </div>
</div>
