
@{
    ViewBag.Title = "Paid Documents";
    Layout = "~/Areas/StateJunior/Views/Shared/_NewLayoutStateJunior.cshtml";
}
<div class="form-horizontal">
    <h2>Paid Documents</h2>
    <div style="background-color: #DADADA;">
        <div style="padding:5px;">
        </div>
    </div>
</div>