
@{
    ViewBag.Title = "Free Documents";
    Layout = "~/Areas/Grammar11Plus/Views/Shared/_LayoutGrammar11Plus.cshtml";
}
<div class="form-horizontal">
    <h2>Free Documents</h2>
    <div style="background-color: #DADADA;">
        <div style="padding:5px;">
        </div>
    </div>
</div>
