@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<!--
<style type="text/css">
    .paging {
        font-size: medium;
        color: red;
        font-weight: bolder;
        margin: 0px;
    }
    .area {
        background-color: burlywood;color:black;
    }

	.header{
        background-color: #485254 !important;
		margin: 0 0px;
	}
    .header h2{
        font-weight: bolder;
        font-size: medium;
        color: white !important;
    }

    div.cell{
        padding: 5px;
        color: white !important;
		background-color: #485254 !important;
    }
    
    div.header>div.cell,.lead {color:white;font-size:medium;}
    div.cell > h2 {
        color: white !important;
    }
</style>
    -->
<div class="form-horizontal">
	<div class="header row">
		<div class="cell">
			<div class="col-md-12">
				<h2>Teacher Assistant by &copy; MartinLayooInc</h2>
				<p class="lead">This is the home page of the Teacher's Assistant Web Application, which should be viewable on all devices. MartinLayooInc has enabled Teachers and their students to interact via this application, and holds all the rights to the App. Ensure that you are using the App with consent from the developer.
				 For support and new feature requests, do get in touch with <a style="font-size:large;" href="mailto:business-info@martinlayooinc.com">MartinLayooInc &copy;</a></p>
			</div>
		</div>
	</div>
	<div class="area">
		<div class="row" style="padding:5px;">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p><a href="@Url.Content("~/")Home/AboutUs" class="btn btn-primary">Find out about MartinLayooInc &copy;</a></p>
                <p>
                    Ensure that you register an account with a specific email during the login process. Once that is done, you can start using the application.
                </p>
                <p>Having registered, your teacher will be notified, and you will be placed in a role as Student. Thereafter all communication and booking time with the Tutor and managing work will be done via the app. Please do not share your passwords. If you feel your password has been compromised, then we suggest you to reset it, during Login.</p>
                <p>Other features not mentioned anywhere else include Online Shop, for artefacts, Integration with Paypal, Downloadable Media including Videos and Documents, both Free and Paid for assigned by Tutors</p>
            </div>
            <div class="col-md-4">
                <h2>There are 6 roles at this stage.</h2>
                <p>Provided you have registered and the Tutor is aware, await confirmation from your teacher as they place you in your right category (roles)</p>
                <p>Roles are managed by the Course Providers, and inclusion into a Role is dependent on meeting certain Course Criteria. Please feel free to explore the Application</p>
                <p>Assignments can be assigned to individuals or Categories/Roles without difficulty, and submitted online for grading. Teachers can include notes for Students where they can improve on, on grading the assignments. Graded and Submitted Assignments can then be viewed by Students, with help notes to improve their learning curve.</p>
                <p><a class="btn btn-primary" href="/Home/AboutUs">Learn more about us</a></p>
            </div>
            <div class="col-md-4">
                <h2>Should a need exist for support</h2>
                <p>Please do not hesitate to contact your teacher if there are any issues with the site you are unsure of.</p>
                <p>Any Support can be got via MartinLayooInc Software House, and only by teacher's requests will they be ticketed.</p>
                <p>A tremendous effort has been put into Developing this Application and any feedback is welcome to continually improve the Application further. At this stage from booking Online Discussions live in 2 Classes, with teacher intervention to Calendar Scheduling, of teacher time allotment to even managing distributed assignments for the different roles is integrated. Simply a powerful application is here for you to improve by constant constructive feedback.</p>
            </div>
		</div>
	</div>
</div>
