
@{
    ViewBag.Title = "Reporting And Performance";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Reporting And Performance</h2>


<div class="form-horizontal">
    <h4>Student Reporting And Performance</h4>

</div>